---
import {elements} from "../lib/elements"

interface Props {
atNum:string;
}


const { atNum } = Astro.props;
const element = elements[parseInt(atNum)-1]
const {atomicMass, name, symbol} = element

---
<a href="#" class="element">
  <div class="at_num ">{atNum}</div>
  <div class="symbol">{symbol}</div>
  <div class="at_details">{name}<br />{atomicMass}</div>
</a>



